html {
  background-color: white;
}
table {
  margin: 0px auto;
}

body {
  text-align: center;
  width: 700px;
  padding: 30px 50px;
  margin: 20px auto;
  border-radius: 20px;
  background: rgb(43, 85, 148);
  padding-bottom: 70px;
}

td {
  padding: 10px;
}
